@font-face {
  font-family: "barlow-light";
  src: url("../../../public/assets/fonts/Barlow-Light.ttf");
}
@font-face {
  font-family: "barlow-medium";
  src: url("../../../public/assets/fonts/Barlow-Medium.ttf");
}
@font-face {
  font-family: "barlow-bold";
  src: url("../../../public/assets/fonts/Barlow-Bold.ttf");
}

$light-background: #ffffff;
$light-background2: #eff1f8;
$light-border: #ced2df;
$light-border-col: #9496b3;
$light-subtitle: #555777;
$light-body: #2f2f3d;
$light-title: #191a24;
$light-model: #505263;
$dark-background: #191a24;
$dark-background2: #2f2f3d;
$dark-border: #555777;
$dark-border-col: #9496b3;
$dark-subtitle: #ced2df;
$dark-body: #eff1f8;
$dark-title: #ffffff;
$dark-model: #232230;
$confirm: #15c0ab;
$warn: #fbb03b;
$danger: #f37070;
$focused: #4b4ded;
$teal: #6acce5;

.header2 {
  font-family: "barlow-bold";
  font-size: 40px;
}
.header3 {
  font-family: "barlow-bold";
  font-size: 24px;
}
.subtitle {
  font-family: "barlow-medium";
  font-size: 24px;
}
.body {
  font-family: "barlow-medium";
  font-size: 16px;
}
.bold-body {
  font-family: "barlow-bold";
  font-size: 16px;
}
.button {
  font-family: "barlow-bold";
  font-size: 16px;
}
.link {
  font-family: "barlow-bold";
  font-size: 16px;
  text-decoration: underline;
}
.small {
  font-family: "barlow-medium";
  font-size: 14px;
}
.bold-title {
  font-family: "barlow-bold";
  font-size: 12px;
}
.light-title {
  font-family: "barlow-light";
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .header2 {
    font-size: 24px !important;
  }
  .subtitle {
    font-size: 16px !important;
  }
}
