@import "../theme/index";

.lightLabel {
  @extend .light-title;
  color: $light-body;
  width: 100%;
}
.darkLabel {
  @extend .light-title;
  color: $dark-body;
  width: 100%;
}
.lightInput {
  height: 45px;
  border-radius: 8px;
  background: $light-background;
  color: $light-body !important;
  border: 0;
  input {
    color: $light-body !important;
    padding-left: 14px;
    @extend .body;
    background: $light-background;
    &::placeholder {
      color: $light-border-col !important;
    }
    &:focus {
      background: $light-background;
      outline: 0 !important;
      box-shadow: 0 0 0 !important;
    }
    &:disabled {
      cursor: no-drop;
      background: $light-background;
    }
  }
}
.darkInput {
  height: 45px;
  border-radius: 8px;
  background: $dark-background;
  color: $dark-body !important;
  border: 0;
  input {
    color: $dark-body !important;
    background: $dark-background;
    padding-left: 14px;
    @extend .body;
    &::placeholder {
      color: $dark-border-col !important;
    }
    &:focus {
      background: $dark-background;
      outline: 0 !important;
      box-shadow: 0 0 0 !important;
    }
    &:disabled {
      cursor: no-drop;
      background: $dark-background;
    }
  }
}
