@import "../theme/index";

.lightInput {
  width: 95% !important;
  background: $light-background2 !important;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  height: 45px;
  border: 0;
  color: $light-body !important;
  padding-left: 14px;
  @extend .body;
  &::placeholder {
    color: $light-border-col !important;
  }
  &:focus {
    border: 2px solid $focused !important;
    background-color: $light-background2 !important;
    outline: 0 !important;
    box-shadow: 0 0 0 !important;
  }
  &:disabled {
    cursor: no-drop;
    background-color: $light-background2;
  }
}
.darkInput {
  width: 95% !important;
  background: $dark-background2 !important;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  height: 45px;
  border: 0;
  color: $dark-body !important;
  padding-left: 14px;
  @extend .body;
  &::placeholder {
    color: $dark-border-col !important;
  }
  &:focus {
    border: 2px solid $focused !important;
    background-color: $dark-background2 !important;
    outline: 0 !important;
    box-shadow: 0 0 0 !important;
  }
  &:disabled {
    cursor: no-drop;
    background-color: $dark-background2;
  }
}
.button {
  border: 0;
  background: $focused;
  border-radius: 0px 8px 8px 0px !important;
  width: 100px;
  height: 45px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 99;
  &:hover {
    background: $focused;
    color: $light-background2;
  }
  &:focus {
    background: $focused;
    color: $light-background2;
  }
  &:disabled {
    background: $focused;
    color: $light-background2;
    &:hover {
      background: $focused;
      color: $light-background2;
    }
  }
}
.icon {
  padding-left: 5px;
  position: relative;
  top: 3px;
}
@media only screen and (max-width: 1024px) {
  .button {
    width: 70px !important;
  }
  .input {
    width: 60% !important;
  }
}
