@import "../theme/index";
.card {
  border-radius: 24px;
  color: $light-background;
  height: 153px !important;
}
.cardBody {
  padding: 15px 20px;
}
.parentLeftIcon {
  background: rgba(108, 110, 239, 0.15);
  border-radius: 16px;
  height: 54px;
  width: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter {
  font-style: normal;
  color: $light-background;
  @extend .header3;
  span {
    @extend .light-title;
  }
}
.text {
  color: $light-background;
  @extend .body;
  span {
    @extend .light-title;
  }
}
