@import "../theme/index";
.btnSave {
  border-radius: 8px;
  width: 186px;
  height: 45px;
  border: 0;
  color: $light-background;
  background-color: $focused;
  @extend .button;
  white-space: nowrap;
  &:hover {
    color: $light-background;
    background-color: $focused;
  }
  &:focus {
    color: $light-background;
    background-color: $focused;
  }
  &:disabled {
    color: $light-background;
    background-color: $focused;
    opacity: 0.8;
  }
}
@media only screen and (max-width: 768px) {
  .btnSave {
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
    left: 0;
    border-radius: 0;
  }
}
