@import "../theme/index";
.inputLight {
  background: #f2f2f8;
  border-radius: 12px;
  height: 54px;
  border: 0;
  color: #6e7191 !important;
  padding-left: 14px;
  font-size: 16px !important;
  font-weight: 400;
  &::placeholder {
    color: #c6c2de !important;
    font-weight: 300;
  }
  &:focus {
    border: 2px solid #3869ff;
    background-color: #f2f2f8 !important;
    outline: 0 !important;
    box-shadow: 0 0 0 !important;
    font-weight: 700;
  }
}
.inputDark {
  background: #2e3042;
  border-radius: 12px;
  height: 54px;
  border: 0;
  color: #f2f2f8 !important;
  padding-left: 14px;
  font-weight: 400;
  font-size: 16px !important;
  &::placeholder {
    color: #56566f !important;
    font-weight: 300;
  }
  &:focus {
    border: 2px solid $focused !important;
    background-color: #2e3042 !important;
    outline: 0 !important;
    box-shadow: 0 0 0 !important;
    font-weight: 700;
  }
}

.labelLight {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #6e7191;
}
.labelDark {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #f2f2f8;
}
.placeHolderLight {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.75px;
  color: #c6c2de;
}
.WrapperSearchInput {
  margin-top: 10px;
}
.searchInputLight {
  border-radius: 12px 12px 0px 0px;
  border: 1px solid #c6c2de;
  height: 44px;
  padding: 5px 5px;
  font-weight: 500;
  font-size: 16px;
  color: #c6c2de;
  outline: none;
  &:focus {
    border: 2px solid $focused !important;
    outline: 0 !important;
    box-shadow: 0 0 0 !important;
    font-weight: 500;
    color: #c6c2de !important;
  }
  &::placeholder {
    color: #c6c2de !important;
    font-weight: 300;
  }
}
.searchInputDark {
  background-color: #232230;
  border-radius: 12px 12px 0px 0px;
  border: 1px solid #56566f;
  height: 44px;
  padding: 5px 5px;
  font-weight: 500;
  font-size: 16px;
  color: #c6c2de;
  outline: none;
  &:focus {
    border: 2px solid $focused !important;
    outline: 0 !important;
    box-shadow: 0 0 0 !important;
    font-weight: 500;
    color: #c6c2de !important;
  }
  &::placeholder {
    color: #f2f2f8 !important;
    font-weight: 300;
  }
}
.wrapperListLight {
  width: 100%;
  position: absolute;
  background-color: white;
  z-index: 99;
}
.wrapperListDark {
  width: 100%;
  position: absolute;
  background-color: #232230;
  z-index: 99;
}
.listLight {
  border-left: 1px solid #c6c2de;
  border-right: 1px solid #c6c2de;
  border-bottom: 1px solid #c6c2de;
  border-radius: 0px 0px 12px 12px;
  overflow: hidden;
}
.listDark {
  border-left: 1px solid #56566f;
  border-right: 1px solid #56566f;
  border-bottom: 1px solid #56566f;
  border-radius: 0px 0px 12px 12px;
  overflow: hidden;
}
.itemLight {
  padding: 10px 15px;
  &:hover {
    background-color: #f2f0f9;
  }
}
.itemDark {
  padding: 10px 15px;
  &:hover {
    background-color: #2e3042 !important;
  }
}
.counter {
  background: #3869ff;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 1.5rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
}
@media only screen and (max-width: 1400px) {
  .inputLight {
    height: 41.6px;
    font-size: 13px !important;
  }
  .inputDark {
    height: 41.6px;
    font-size: 13px !important;
  }
}
