@import "../theme/index";
.wrapperClose {
  background-color: $light-background2;
  height: 36px;
  padding-left: 8px;
  padding-top: 2px;
}
.close {
  background-color: transparent;
  padding: 0;
  border: 0;
  box-shadow: 0 0 0px;
  &:focus {
    background-color: transparent;
  }
  &:hover {
    background-color: transparent;
  }
}
.lightButton {
  width: 25%;
  height: 45px;
  border: 0;
  box-shadow: 0 0 0px;
  color: $light-body;
  @extend .small;
  border-radius: 0;
  &:focus {
    color: $light-body;
  }
}
.darkButton {
  width: 25%;
  height: 45px;
  border: 0;
  box-shadow: 0 0 0px;
  color: $dark-body;
  background-color: $dark-background2;
  @extend .small;
  border-radius: 0;
  &:focus {
    color: $dark-body;
    background-color: $dark-background2;
  }
}
.gradientButton {
  width: 25%;
  height: 45px;
  border: 0;
  box-shadow: 0 0 0px;
  color: $light-body;
  background: linear-gradient(246.27deg, #bdd5eb 13.31%, #c6f5dc 65.27%);
  @extend .small;
  border-radius: 0;
  &:focus {
    color: $light-body;
    background: linear-gradient(246.27deg, #bdd5eb 13.31%, #c6f5dc 65.27%);
  }
}
.coloredButton {
  width: 25%;
  height: 45px;
  border: 0;
  box-shadow: 0 0 0px;
  color: $dark-body;
  background: $confirm;
  @extend .small;
  border-radius: 0;
  &:focus {
    color: $dark-body;
    background: $confirm;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}
.lightEdit {
  width: 50%;
  background-color: $light-background2;
  color: $light-body;
  height: 51px;
  text-transform: uppercase;
  border: 0;
  @extend .button;
  &:hover {
    background-color: $light-background2;
    color: $light-body;
  }
}
.darkEdit {
  width: 50%;
  background-color: $light-background2;
  color: $light-body;
  height: 51px;
  border: 0;
  text-transform: uppercase;
  @extend .button;
  &:hover {
    background-color: $light-background2;
    color: $light-body;
  }
}
.download {
  width: 50%;
  background-color: $focused;
  color: $dark-body;
  height: 51px;
  text-transform: uppercase;
  @extend .button;
  border: 0;
  &:hover {
    background-color: $focused;
    color: $dark-body;
  }
}
