@import "../theme/index";
.lightInput {
  width: 48px;
  background: $light-background;
  border-radius: 8px;
  height: 48px;
  border: 0;
  color: $light-body !important;
  text-align: center;
  @extend .header3;
  &::placeholder {
    color: $light-body !important;
    font-weight: 300;
  }
  &:focus {
    border: 2px solid $focused;
    background-color: $light-background !important;
    outline: 0 !important;
    box-shadow: 0 0 0 !important;
  }
}
.darkInput {
  width: 48px;
  background: $dark-background;
  border-radius: 8px;
  height: 48px;
  border: 0;
  color: $dark-body !important;
  text-align: center;
  @extend .header3;
  &::placeholder {
    color: $dark-body !important;
    font-weight: 300;
  }
  &:focus {
    border: 2px solid $focused;
    background-color: $dark-background !important;
    outline: 0 !important;
    box-shadow: 0 0 0 !important;
  }
}
.lightText {
  @extend .header3;
  text-align: center;
  color: $light-body;
}
.darkText {
  @extend .header3;
  text-align: center;
  color: $dark-body;
}
.lightLittletext {
  @extend .light-title;
  text-align: center;
  color: $light-body;
}
.darkLittleText {
  @extend .light-title;
  text-align: center;
  color: $dark-body;
}
.wrapperInput {
  display: flex;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}
@media only screen and (max-width: 768px) {
  .wrapperInput {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .lightInput {
    width: 40px;
  }
  .darkInput {
    width: 40px;
  }
}
.button {
  background-color: $focused;
  color: $light-background;
  width: 150px;
  height: 45px;
  @extend .button;
  border-radius: 8px;
  border: 0;
  &:focus {
    background-color: $focused;
    color: $light-background;
  }
  &:hover {
    background-color: $focused;
    color: $light-background;
  }
}
